<div class="user-details">
  <div class = "images-left">
    <img alt="Me!" src="{{ "/assets/img/me2.jpg" | prepend: site.baseurl }}" style="max-width: 80%; height: auto; padding: 10px;" />
  </div>
  <div class="text-right"></div>
    <p>Hey there 👋, I'm Sigi. I'm someone who loves connecting technology with people through compelling storytelling. I thrive on crafting interactive experiences that engage audiences and make complex ideas feel accessible and exciting.
<br></br> 
      I'd love to hear your ideas, and work out what we can mean for each other. I can get quite enthusiastic when exploring new opportunities together, so let's grab a coffee and chat!</p>
  </div>
</div>
<br></br>
<div style="text-align: center; margin-top: 20px;">
  <a href="mailto:svlindt@gmail.com" class="btn btn-primary" style="text-decoration: none; padding: 10px 20px; background-color: #007bff; color: white; border-radius: 5px;">Let's meet up</a>
</div>