<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Exhibition picture" src="{{ "/assets/img/Projects/DDW/DDW1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Dutch Design Week | DommelPolitics </h3>
    <p>How do you manage the endlessly possible variations of different variables and opinions? And how do you visualize the impact and compromises of those ideas intuitively? That problem is what I set out to solve for the Dutch Design Week. Together with Liz van der Jagt, Ruben van den Bosch, Tim Kolen and Margot Galama, we organized an exhibition about the Dommel, a river flowing through the heart of Eindhoven.</p>
    <ul>
      <li>Procedural generation</li>
      <li>Exhibition Design</li>
      <li>Visualisations</li>
      <li>Customized experiences</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Exhibition picture" src="{{ "/assets/img/Projects/DDW/DDW1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Kotadama | Collaborative Storytelling </h3>
    <p>Kotodama refers to the Japanese belief that mystical powers dwell in words and names. It is from that origin that we set out to create an experience that enables creating meaningful connections with friends or family.</p>
    <ul>
      <li>User-driven content</li>
      <li>Encouragement of creative expression </li>
      <li>VR design </li>
      <li>Storytelling </li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
